<%- include("./partials/header") %>


<form action="/signin" method="post">
<label for="">UserName</label><br>
<input type="text" name="username" id=""><br>
<input type="submit" value = "sign in"><br>
</form>



<%- include("./partials/footer") %>